/* default browser reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
}

/* style code for the main title of the game. */
.text1 {
     display: flex;
     justify-content: center;
     align-items: flex-start;
    height: 300px;

    font-size: 60px;

    font-family: 'ZerowaxFont', sans-serif;
    }

    @font-face {
        font-family: 'ZerowaxFont';
        src: url('Zerowax.ttf') format('truetype');
    }
    
      .text2 {
        text-align: center;
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        
    
        margin-top: -200px; 
       
      } 

      .text3 {
        text-align: center;
        font-size: 35px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;

        margin-top: -20px;
      }

      .text4 {
        text-align: center;
        font-size: 75px;
        font-family: fantasy;
        color: crimson;

        margin-top: 25px;
      

        }

        .text5 {
        text-align: center;
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;

        margin-top: -55px;

        }


    .Main-Page {
        background-image: radial-gradient(circle, #4a4a4a 0%, #cccaca 100%);
        background-repeat: no-repeat;
        min-height: 100vh;
        margin: 0;
    }
        /* ^^^^^^^^Main page code Seperation^^^^^^^^^^ */

        /* Styling for Page 1 "Texas Gun Shop" */

  .Page-1 {
    background-color:green;  
  }      

.text6 {
 font-size: 60px;
 font-family:monospace;
 font-weight: bold;
 color: rgb(66, 12, 12);

 position: absolute;
 top: -30px;
 left: 145px;
 z-index: 20;
}

  .Texas-logo img{
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 10;

    height: 120px;
    width: auto;
    
  }
  
  .top-menu{
    width: 100%;
    height: 130px;
    background-color: #6aaf2a;

    position: absolute;
    top: 0;
    left: 0;

    Border-bottom: 3px solid rgb(0, 0, 0);
  }

  
 /* Display Boxes */
  .Display-Box1 img {

  width: auto;
  height: 360px;
  

  position: absolute;
  top: 400px;
  left: 1360px;
  
border: 5px solid #ecc58e;
    
  }

  .Display-Box2 img {
    pointer-events: none;
    width: auto;
    height: 300px;

    position: absolute;
    left: 500px;
    top: 1000px;

    border: 5px solid #ecc58e;
  }

  

  

 

.Display-Box4 img {
    position: absolute;
    top: 1050px;
    left: 1300px; 
    

    height: 300px;
    width: auto;

    border: 5px solid #ecc58e;
  }

  .Display-Box5 img {
    position: absolute;
    left: 2050px;
    top: 450px;

    height: 300px;
    width: auto;

    border: 5px solid #ecc58e;
  }

  .Display-Box6 img {
    height: 300px;
    width: auto;

    position: absolute;
    left: 2200px;
    top: 1050px;

    border: 5px solid #ecc58e;
  }

  /* End of Display Boxes */

  /* Product Name Section */

  .Product1 {
    position: absolute;
    top: 800px;
    left: 640px;

    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

  }

  .Product2 {
    position: absolute;
    top: 800px;
    left: 1430px;

    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

  }

  .Product3 {
    position: absolute;
    top: 800px;
    left: 2305px;

    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

  }

  .Product4 {
    position: absolute;
    top: 1390px;
    left: 2250px;

    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;

  }

  .Product5 {
    position: absolute;
    top: 1340px;
    left: 501px;

    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
   font-style: 
  }

  .Product6 {
    position: absolute;
    top: 1389px;
    left: 1318px;

    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    

  }

  /* End of Product name Section */


/* Price Tag Section */

.Price1 {
position: absolute;
top: 770px;
left: 1490px;

font-size: 20px;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.Price2 {
position: absolute;
top: 770px;
left: 2290px;

font-size: 20px;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.Price3 {
position: absolute;
top: 770px;
left: 750px;

font-size: 20px;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.Price4 {
position: absolute;
top: 1360px;
left: 1469px;

font-size: 20px;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.Price5 {
position: absolute;
top: 1360px;
left: 2289px;

font-size: 20px;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;

}

.Price6 {
position: absolute;
top: 1315px;
left: 614px;

font-size: 20px;
font-weight: bold;
font-family: Georgia, 'Times New Roman', Times, serif;

}




/* End of Price Tag Section */

/* Start of Description Section */

.Description1 {
  position: absolute;
  top: 150px;

  font-size: 28px;
  font-weight: bold;
  font-family: fantasy;
  color: #e0a80d;

  -webkit-text-stroke: 1px black;
}

.Description2 {
  position: absolute;
  top: 180px;

 font-size: 28px;
  font-weight: bold;
  font-family: fantasy;
  color: #e0a80d;

  -webkit-text-stroke: 1px black;
}

.Description3 {
   position: absolute;
  top: 240px;

  font-size: 28px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  color: red;

}

/* end of Description Section */

.ak47-wrap {
  position: absolute;
  top: 350px;
  left: 500px;
  width: 600px;
  height: 410px;
}

.ak47-wrap img {
  position: absolute;
  inset:0;
  width:100%;
  height:100%;
  border: 5px solid #ecc58e;
  pointer-events: none;
  z-index: 2;
}
 
/* Code reveal 1 section */

#clickable-area {
   position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
  z-index: 1;
  
  

 

  
}

#text-container {
  position:relative;
  margin-top: 200px;
  margin-left:1500px;
  clear: both;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: crimson;
  font-weight: bold;
  z-index: 100;

  
}

 #spawned-text{
  margin: 0;
    font-size: 24px;
    color: crimson;
    font-weight: bold;
    

  
  }

/* end of Code reveal 1 section */
  
.Title {
  font-size: 40px;

  position: absolute;
  top: 100px;
  left: 1720px;
}

 /* End of Styling for Page 1 "Texas Gun Shop"  */

 /* Styling for page 2 "I HATE YOU" */

 /* End of Styling for page2 "I HATE YOU" */